# Test conditions, parameters, and commands can be included in MACROS. 
#   See https://jinja.palletsprojects.com/en/3.0.x/templates/ for the syntax
#   See https://www.klipper3d.org/Command_Templates.html for Macro command tips and guidelines

[gcode_macro RUN_ABL_COLD]
description: Run G29 with all heaters off. Save result as the DEFAULT profile.
gcode:
	G28
	M140 S0
	M104 S0
	BED_MESH_CALIBRATE PROFILE=<DEFAULT>
	SAVE_CONFIG

[gcode_macro RUN_ABL_BED_60]
description: Run G29 with bed at 60C. Save result as the BED_MESH_PLA profile.
gcode:
  G28
  G90
  G0 Z20
  G0 X0 Y0
  M190 S60
  M109 S200
  G28
  BED_MESH_CALIBRATE PROFILE=<BED_MESH_PLA>
  SAVE_CONFIG
  M140 S0
  M104 S0

[gcode_macro RUN_ABL_BED_80]
description: Run G29 with bed at 80C. Save result as the BED_MESH_PETG profile.
gcode:
  G28
  G90
  G0 Z20
  G0 X0 Y0
  M190 S80
  M109 S235
  G28
  BED_MESH_CALIBRATE PROFILE=<BED_MESH_PETG>
  SAVE_CONFIG
  M140 S0
  M104 S0

[gcode_macro START_PRINT]
# put the following in the Cura start code and remove everything else:
# start_print HOTEND_TEMP={material_print_temperature_layer_0} BED_TEMP={material_bed_temperature_layer_0}
description: Set printer config parameters. Load BED_MESH profile and Z Offset based on nozzle target temperature.
gcode:
	{% set toolTemp = params.HOTEND_TEMP|int %}
	{% set bedTemp = params.BED_TEMP|int %}
	M82 								# absolute extrusion mode
	M220 S100 							# Reset Feedrate
	M221 S100 							# Reset Flowrate
	SET_VELOCITY_LIMIT VELOCITY=200 ACCEL=3500 ACCEL_TO_DECEL=1750 SQUARE_CORNER_VELOCITY=5
    SET_GCODE_OFFSET Z=0
    {% if toolTemp >= 185 %}            # If printing PLA, do these things... If printing other materials also, put equivalent higher temp ifs below his
		SET_GCODE_OFFSET Z=-0.08        #NOTE: Ensure this is the calibrated probe z offset value for PLA
        BED_MESH_PROFILE LOAD=<BED_MESH_PLA>   # i.e. load the bed mesh profile saved after using RUN_ABL_BED_60
	{% endif %}
    {% if toolTemp >= 235 %}            # If printing PLA, do these things... If printing other materials also, put equivalent higher temp ifs below his
		SET_GCODE_OFFSET Z=-0.12        #NOTE: Ensure this is the calibrated probe z offset value for PETG
        BED_MESH_PROFILE LOAD=<BED_MESH_PETG>   # i.e. load the bed mesh profile saved after using RUN_ABL_BED_80
	{% endif %}

	G28                                 # Home all axes

	# move to the left front corner and wait until the bed is within 10 deg of target then heat the hotend
	G90
	G0 Z20
	G0 X0 Y0 F5000
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bedTemp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bedTemp-10}
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={toolTemp}

    # Wait for both heaters to achieve target
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bedTemp}
	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={toolTemp}

	G28							# home all axes at the printing temperature, to offset the bed mesh by the amount of the probe's temperature bias
# Return to left front corner
	G90
	G0 Z20
	G0 X0 Y0 F3200

# Turn the heaters back on (G28 turns them off)
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bedTemp}
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={toolTemp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bedTemp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bedTemp}

	# And we can now draw our purge line
	G92 E0 								#Reset Extruder
	G1 Z2.0 F3000 						#Move Z Axis up
	G1 X0 Y20 Z0.28						#Move to start position
	G1 X0 Y200.0 Z0.28 E15   			#Draw the first line
	G1 X0 Y200.0 Z0.28 					#Move to side a little
	G1 X0.5 Y20 Z0.28 E30 				#Draw the second line
	G92 E0 								#Reset Extruder
	G1 Z2.0 F3000 						#Move Z Axis up

[gcode_macro END_PRINT]
# Put the following in the Cura end code and remove everything else:
# END_PRINT
description: Cool hotend, present print, heaters off, retract filament a bit, Fans off when temps below 50C
gcode:
	M106 S255 ;full fan
	G91 ;Relative positioning
	G1 E-0.5 F2700 ;Retract a bit
	G1 E-0.5 Z0.2 F2400 ;Retract and raise Z
	G1 X5 Y5 F5000 ;Wipe out
	G1 Z10 ;Raise Z more
	G90 ;Absolute positioning
	G1 X0 Y225 ;Present print
	TURN_OFF_HEATERS
	G91 ;Relative positioning
	G4 S30
	G1 E-0.5 F2700 ; retract a bit more after cooling for 30 seconds about 20 degrees
	G4 S30
	G1 E-0.5 F2700 ; retract a bit more after cooling for 30 seconds about 20 degrees
	G90 ;Absolute positioning
	M84 X Y E ;Disable all steppers but Z
	M82 ;absolute extrusion mode
	TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM=50
	TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=50
	M106 S0 ;Turn-off fan